*{
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
.head1{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(17, 9, 128, 0.966);
    color: white;
    height: 69px;
}
.head2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text1 a{
  text-decoration: none;
  color: white;
}
 .flag img{
    border-radius: 43px;
    height: 30px;
    margin: 43px;
 }
 .btn{
    margin: 43px;
 }
 .btn button{
    height: 35px;
    width: 87px;
    border-radius: 5px;
    color: rgb(42, 51, 172);
    font-size: 14px;
 }
 .midImg{
     display: flex;
     justify-content: space-around;
 }
 .midImg img{
    width: 48%;
    height: 60%;
 }
 .midImg p{
    margin-top: 12px;
    font-size: 18px;
 }
 .midImg2{
    background: url("assets/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw) ;
    height: 70vh;
    position: relative;
    color: white;
 }

 .midImgText{
    margin-left: 135px;
    padding-top: 40px;
 }
 .midImgText h1 {
     word-spacing: 4px;
     font-size: 40px;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
 }
 .midImgText1 p {
    margin-left: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }
 .btnBg {
    margin-left: 135px;
    padding-top: 170px;
 }
 .btnBg button {
    height: 50px;
    padding: 12px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
 }
 
.midHeading p{
   margin-left: 135px;
   margin-top: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 20px;
   word-spacing: 2px;
}
.imgFooter1{
   display: flex;
}
ul li{
   list-style: none;
 }
.bgimg1{
   background-image: url("assets/292049346.webp");
   height: 357px;
   width: 760px;
   position: relative;
   overflow: hidden;
   background-size: cover;
   margin-right: 15px;
   margin-top: 15px;
   margin-left: 135px;
   border-radius: 8px;
    box-sizing: border-box;
}
.bgimg2 img { 
  height: 250px;
  width: 350px;
  background-size: cover;
  box-sizing: border-box;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 8px;
  position: relative;
}
.bgimg3 img  {
height: 250px;
width: 350px;
position: relative;
overflow: hidden;
background-size: cover;
margin-right: 15px;
margin-top: 15px;
margin-right: 123px;
border-radius: 8px;
}
 .bgimg1Contantent{
   color: rgba(250, 247, 247, 0.945);
   font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    padding: 10px 10px 15px;
    position: absolute;
    bottom: 0;
    max-width: -webkit-calc(100% - 20px);
    max-width: calc(100% - 20px);
    cursor: pointer;
   } 
   .bgimg2Contantent   :hover{
      color: blueviolet;
   }
  .bgimg2 a {
   text-decoration: none;
   color: black;
 }
 .bgimg2Contantent{
   font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
   margin-top: 7px;
   display: flex;
   flex-direction: column;
   width: 80%;
   }

 .bgimg2Contantent p {
   color: gray;
 }  
 .bgimg3 a {
   text-decoration: none;
   color: black;
 }
 .bgimg4{
   background-image: url("assets/740930.webp");
   margin-right: 19px;
   width: 540px;
   height: 270px;
   border-radius: 8px;
   cursor: pointer;
 }
 .bgimg5{
 background-image: url("assets/844103.webp");
 width: 530px;
 height: 270px;
 border-radius: 8px;
 }
 .Trondheim{
   margin-top: 23px;
   margin-left: 135px;
   display: flex;
   cursor: pointer;
 }

 .bgimg4  h3{
   padding: 12px;
   font-size: 25px;
   color: rgb(88, 39, 76);
 }
.bgimg4 {
   display: flex;
}
.bgimg4 img{
 margin-top: 20px;
}
.bgimg4 h3:hover{
   color:rgba(20, 44, 180, 0.938);
}
.bgimg6{   
background-image: url("assets/879406.webp");
width: 350px;
height: 240px;
margin-right: 19px;
border-radius: 8px;
}
.bgimg7{   
background-image: url("assets/693535.webp");
width: 350px;
height: 240px;
margin-right: 19px;
border-radius: 8px;
}
.bgimg8{   
background-image: url("assets/65633294.webp");
width: 350px;
height: 240px;
border-radius: 8px;
}
.footerMain{
   display: flex;
   justify-content: space-around;
   margin: 45px;
   margin-bottom: 12px;
   
}
ul li a{
   text-decoration: none;
   color: black
}
 .footer1 ul li a:hover{
   color:darkviolet;
   font-size: 19px;
   text-decoration: underline;
}